/* Shared Button Styles */
.subtle-btn,
.default-btn,
.primary-btn,
.warning-btn,
.danger-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  min-width: 5rem;
  padding: 0.5rem 1rem;
  margin: 0;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-family: "Nunito Sans";
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  line-height: 1.2;
}

.btn-icon {
  font-size: 1.2rem;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Sublte */
.subtle-btn {
  color: var(--color-subtle-text);
  background-color: var(--color-subtle-bg);
}

.subtle-btn:hover {
  background-color: var(--color-subtle-bg-hover);
}

.subtle-btn:active {
  background-color: var(--color-subtle-bg-active);
}

.subtle-btn:disabled {
  background-color: var(--color-subtle-bg-disabled);
  cursor: not-allowed;
}

/* Default */
.default-btn {
  color: var(--color-default-text);
  background-color: var(--color-default-bg);
}

.default-btn:hover {
  background-color: var(--color-default-bg-hover);
}

.default-btn:active {
  background-color: var(--color-default-bg-active);
}

.default-btn:disabled {
  background-color: var(--color-default-bg-disabled);
  cursor: not-allowed;
}

/* Primary */
.primary-btn {
  color: var(--color-primary-text);
  background-color: var(--color-primary-bg);
}

.primary-btn:hover {
  background-color: var(--color-primary-bg-hover);
}

.primary-btn:active {
  background-color: var(--color-primary-bg-active);
}

.primary-btn:disabled {
  background-color: var(--color-primary-bg-disabled);
  cursor: not-allowed;
}

/* Warning */
.warning-btn {
  color: var(--color-warning-text);
  background-color: var(--color-warning-bg);
}

.warning-btn:hover {
  background-color: var(--color-warning-bg-hover);
}

.warning-btn:active {
  background-color: var(--color-warning-bg-active);
}

.warning-btn:disabled {
  background-color: var(--color-warning-bg-disabled);
  cursor: not-allowed;
}

/* Danger */
.danger-btn {
  color: var(--color-danger-text);
  background-color: var(--color-danger-bg);
}

.danger-btn:hover {
  background-color: var(--color-danger-bg-hover);
}

.danger-btn:active {
  background-color: var(--color-danger-bg-active);
}

.danger-btn:disabled {
  background-color: var(--color-danger-bg-disabled);
  cursor: not-allowed;
}